<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="invoice">
      <h2 data-cy="invoiceDetailsHeading"><span tucamTranslate="tucampov3App.invoice.detail.title">Invoice</span></h2>

      <hr />

      <tucam-alert-error></tucam-alert-error>

      <tucam-alert></tucam-alert>

      <dl class="row-md jh-entity-details">
        <dt><span tucamTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ invoice.id }}</span>
        </dd>
        <dt><span tucamTranslate="tucampov3App.invoice.unitPrice">Unit Price</span></dt>
        <dd>
          <span>{{ invoice.unitPrice }}</span>
        </dd>
        <dt><span tucamTranslate="tucampov3App.invoice.amount">Amount</span></dt>
        <dd>
          <span>{{ invoice.amount }}</span>
        </dd>
        <dt><span tucamTranslate="tucampov3App.invoice.priceTotal">Price Total</span></dt>
        <dd>
          <span>{{ invoice.priceTotal }}</span>
        </dd>
        <dt><span tucamTranslate="tucampov3App.invoice.wayToPay">Way To Pay</span></dt>
        <dd>
          <div *ngIf="invoice.wayToPay">
            <a [routerLink]="['/way-to-pay', invoice.wayToPay?.id, 'view']">{{ invoice.wayToPay?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span tucamTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/invoice', invoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span tucamTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
