<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="tucam-category-heading" data-cy="CategoryCreateUpdateHeading" tucamTranslate="tucampov3App.category.home.createOrEditLabel">
        Create or edit a Category
      </h2>

      <div>
        <tucam-alert-error></tucam-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" tucamTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" tucamTranslate="tucampov3App.category.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" tucamTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" tucamTranslate="tucampov3App.category.stateCategory" for="field_stateCategory">State Category</label>
          <select
            class="form-control"
            name="stateCategory"
            formControlName="stateCategory"
            id="field_stateCategory"
            data-cy="stateCategory"
          >
            <option [ngValue]="null">{{ 'tucampov3App.State.null' | translate }}</option>
            <option *ngFor="let state of stateValues" [value]="state">{{ 'tucampov3App.State.' + state | translate }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span tucamTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span tucamTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
