<div>
  <h2 id="page-heading" data-cy="WayToPayHeading">
    <span tucamTranslate="tucampov3App.wayToPay.home.title">Way To Pays</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span tucamTranslate="tucampov3App.wayToPay.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-way-to-pay"
        [routerLink]="['/way-to-pay/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span tucamTranslate="tucampov3App.wayToPay.home.createLabel"> Create a new Way To Pay </span>
      </button>
    </div>
  </h2>

  <tucam-alert-error></tucam-alert-error>

  <tucam-alert></tucam-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wayToPays?.length === 0">
    <span tucamTranslate="tucampov3App.wayToPay.home.notFound">No wayToPays found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wayToPays && wayToPays.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr tucamSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" tucamSortBy="id"><span tucamTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" tucamSortBy="description">
            <span tucamTranslate="tucampov3App.wayToPay.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wayToPay of wayToPays; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/way-to-pay', wayToPay.id, 'view']">{{ wayToPay.id }}</a>
          </td>
          <td>{{ wayToPay.description }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/way-to-pay', wayToPay.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" tucamTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/way-to-pay', wayToPay.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" tucamTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(wayToPay)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" tucamTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="wayToPays && wayToPays.length > 0">
    <div class="d-flex justify-content-center">
      <tucam-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></tucam-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
