<div>
  <h2 id="page-heading" data-cy="VehicleHeading">
    <span tucamTranslate="tucampov3App.vehicle.home.title">Vehicles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span tucamTranslate="tucampov3App.vehicle.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle"
        [routerLink]="['/vehicle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span tucamTranslate="tucampov3App.vehicle.home.createLabel"> Create a new Vehicle </span>
      </button>
    </div>
  </h2>

  <tucam-alert-error></tucam-alert-error>

  <tucam-alert></tucam-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vehicles?.length === 0">
    <span tucamTranslate="tucampov3App.vehicle.home.notFound">No vehicles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vehicles && vehicles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr tucamSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" tucamSortBy="id"><span tucamTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" tucamSortBy="bodyworkType">
            <span tucamTranslate="tucampov3App.vehicle.bodyworkType">Bodywork Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" tucamSortBy="ability">
            <span tucamTranslate="tucampov3App.vehicle.ability">Ability</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" tucamSortBy="brand">
            <span tucamTranslate="tucampov3App.vehicle.brand">Brand</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" tucamSortBy="model">
            <span tucamTranslate="tucampov3App.vehicle.model">Model</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" tucamSortBy="licenseLate">
            <span tucamTranslate="tucampov3App.vehicle.licenseLate">License Late</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" tucamSortBy="color">
            <span tucamTranslate="tucampov3App.vehicle.color">Color</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" tucamSortBy="driver.id">
            <span tucamTranslate="tucampov3App.vehicle.driver">Driver</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vehicle', vehicle.id, 'view']">{{ vehicle.id }}</a>
          </td>
          <td>{{ vehicle.bodyworkType }}</td>
          <td>{{ vehicle.ability }}</td>
          <td>{{ vehicle.brand }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.licenseLate }}</td>
          <td>{{ vehicle.color }}</td>
          <td>
            <div *ngIf="vehicle.driver">
              <a [routerLink]="['/driver', vehicle.driver?.id, 'view']">{{ vehicle.driver?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vehicle', vehicle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" tucamTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/vehicle', vehicle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" tucamTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vehicle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" tucamTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vehicles && vehicles.length > 0">
    <div class="d-flex justify-content-center">
      <tucam-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></tucam-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
