<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="tucam-invoice-heading" data-cy="InvoiceCreateUpdateHeading" tucamTranslate="tucampov3App.invoice.home.createOrEditLabel">
        Create or edit a Invoice
      </h2>

      <div>
        <tucam-alert-error></tucam-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" tucamTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" tucamTranslate="tucampov3App.invoice.unitPrice" for="field_unitPrice">Unit Price</label>
          <input type="text" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
          <div *ngIf="editForm.get('unitPrice')!.invalid && (editForm.get('unitPrice')!.dirty || editForm.get('unitPrice')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitPrice')?.errors?.required"
              tucamTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" tucamTranslate="tucampov3App.invoice.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('amount')?.errors?.required"
              tucamTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('amount')?.errors?.number"
              tucamTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" tucamTranslate="tucampov3App.invoice.priceTotal" for="field_priceTotal">Price Total</label>
          <input
            type="number"
            class="form-control"
            name="priceTotal"
            id="field_priceTotal"
            data-cy="priceTotal"
            formControlName="priceTotal"
          />
          <div *ngIf="editForm.get('priceTotal')!.invalid && (editForm.get('priceTotal')!.dirty || editForm.get('priceTotal')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('priceTotal')?.errors?.required"
              tucamTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('priceTotal')?.errors?.number"
              tucamTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" tucamTranslate="tucampov3App.invoice.wayToPay" for="field_wayToPay">Way To Pay</label>
          <select class="form-control" id="field_wayToPay" data-cy="wayToPay" name="wayToPay" formControlName="wayToPay">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="wayToPayOption.id === editForm.get('wayToPay')!.value?.id ? editForm.get('wayToPay')!.value : wayToPayOption"
              *ngFor="let wayToPayOption of wayToPaysSharedCollection; trackBy: trackWayToPayById"
            >
              {{ wayToPayOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span tucamTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span tucamTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
